.skills{
    padding: 0 16px;
    margin: 28px 0;
    
    /* margin: 22p 16px; */
    
    padding: 16px; 
    .skills__section-title{
        text-align: center;
        margin: 10px 0;
    }

}
.skills__group{
    .skills__group-title{
        text-align: center;
    }
    .skills__group-title{
        font-size: 2.0rem;
        margin: 20px 0;
    }
    .skills__category-title{
        font-size: 1.6rem;
        margin: 26px 0;
        }
    .skills__icons{
        margin: 15px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        svg{
            /* color: #FFFCF2; */
            font-size: 4.0rem;
        }
    
}
}

/* Hover por tecnología */
.icon.python:hover {
  fill: #3776AB;
}

.icon.sql:hover {
  fill: #00618A;
}

.icon.javascript:hover {
  fill: #F7DF1E;
}

.icon.html:hover {
  fill: #E34C26;
}

.icon.css:hover {
  fill: #264de4;
}

.icon.pandas:hover {
  fill: #150458;
}

.icon.numpy:hover {
  fill: #013243;
}

.icon.excel:hover {
  fill: #217346;
}
.icon.scikit:hover {
  fill: #f7931e;
}
.icon.react:hover {
  fill: #61DBFB; 
}
