.skills{
    
    box-sizing: content-box;
    background-color: yellowgreen;
    width: 100vw;
    /* margin: 22p 16px; */
    border-block-start: 1px solid var(--color-secondary);
    /* padding: 16px; */

}
.skills--icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    svg{
        color: #FFFCF2;
        font-size: 4.0rem;
        :hover{
            color: #EB5E28;
            cursor: pointer;
        }
    }
    
}