/* #FFFCF2
#CCC5B9
#403D39
#252422
#EB5E28
 */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-background: #252422;   /* Color base principal de fondo */
  --color-text: #FFFCF2;         /* Texto claro sobre fondo oscuro */
  --color-secondary: #CCC5B9;    /* Colores secundarios (grises) */
  --color-tertiary: #403D39;     /* Alternativo para secciones */
  --color-accent: #EB5E28;       /* Color acento para botones, links, etc */
}
*{
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
    font-size: 62.5%;
}

.root{
 max-width: 938px;
 margin: 0 auto;
 background-color: var(--color-background);
}
p, button, a,div{
  font-weight: normal;
  font-size: 1.6rem; /* Tamaño de fuente base */
}
body {
  
  color: var(--color-text); /* Aplica a todo el texto por defecto */
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1 {
  font-size: 3.2rem; /* Tamaño de fuente para h1 */
}
h2 {
  font-size: 2.8rem; /* Tamaño de fuente para h2 */
}
h3 {
  font-size: 2.4rem; /* Tamaño de fuente para h3 */
}
h4 {
  font-size: 2.0rem; /* Tamaño de fuente para h4 */
}
h5 {
  font-size: 1.8rem; /* Tamaño de fuente para h5 */
}
h6 {
  font-size: 1.6rem; /* Tamaño de fuente para h6 */
}
