.card{
    width: 284px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    overflow: hidden; 
    
    margin: 10px auto;
}
.card--img{
    width: 100%;
    
    img{
        width: 100%;
        object-fit: cover;
    }
}
.card--description{
    font-size: 1.4rem;
    line-height: 2.0rem;
    margin: 6px 8px 8px 12px;
}
.card--title{
    line-height: 2.6rem;
    margin: 8px 8px 11px 6px;
}
.card--links{
    display: flex;
    justify-content: space-around;
    padding: 8px;
    
    a{
        text-decoration: none;
        color: var(--color-text);
        font-weight: bold;
        svg{
            width: 24px;
            height: 24px;
        }
        &:hover{
            color: var(--color-accent);
        }
    }
}